<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airent.mapper.AdvertMapper">
    <insert id="createAdvert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO advert (publicationDate, district, address, floor, maxFloor, rooms,
                     sq, price, withPublicServices, conditions, description, bedrooms, beds, latitude, longitude)
        VALUES (#{publicationDate}, #{district}, #{address}, #{floor}, #{maxFloor}, #{rooms}, #{sq},
                 #{price}, #{withPublicServices}, #{conditions}, #{description}, #{bedrooms}, #{beds}, #{latitude}, #{longitude})
    </insert>

    <select id="findById" resultType="com.airent.model.Advert">
        SELECT *
        FROM advert
        WHERE id=#{id}
  </select>

    <select id="getNextAdvertsBeforeTime" resultType="com.airent.model.Advert">
        SELECT *
        FROM advert
        WHERE #{timestamp} > publicationDate
        ORDER BY publicationDate
        DESC limit #{limit}
  </select>

    <select id="searchNextAdvertsBeforeTime" resultType="com.airent.model.Advert">
        SELECT *
        FROM advert
        WHERE
        district in
        <foreach item="district" index="index" collection="districts" open="(" separator="," close=")">
            '${district}'
        </foreach>
        AND price >= #{priceFrom}
        AND #{priceTo} >= price
        AND rooms in
        <foreach item="room" index="index" collection="rooms" open="(" separator="," close=")">
            ${room}
        </foreach>
        AND #{timestamp} > publicationDate
        ORDER BY publicationDate
        DESC limit #{limit}
    </select>

    <delete id="deleteAdvert">
    DELETE FROM advert
    WHERE id=#{id}
  </delete>

    <select id="getCount" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM advert
  </select>

    <select id="getAdvertPrices" resultType="com.airent.model.ui.AdvertPrices">
        SELECT
        min(price) as priceMin,
        max(price) as priceMax
        FROM advert
  </select>

    <insert id="bindToUser">
        INSERT INTO advert_author (advertId, userId)
        VALUES (#{advertId}, #{userId})
    </insert>

    <select id="findBySqPriceCoords" resultType="com.airent.model.Advert">
        SELECT *
        FROM advert
        WHERE sq=#{sq} AND price=#{price} AND (lat-#{lat})<0.0001 AND (lon-#{lon})
        findBySqPriceCoords(int sq, int price, double lat, double lon);
    </select>

</mapper>
