<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airent.mapper.AdvertImportMapper">
    <update id="saveLastImportTime">
        UPDATE importState SET lastImportDate = #{lastImportDate} WHERE typeName = #{typeName};
    </update>

    <select id="getLastImportTime" resultType="java.lang.Long">
        SELECT COALESCE(
          (SELECT lastImportDate
          FROM importState
          WHERE typeName=#{typeName})
        , 0)
  </select>
</mapper>
