<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airent.mapper.AdvertMapper">
    <insert id="createAdvert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO advert
         (userId, publicationDate, district, address, floor, maxFloor, rooms,
         sq, price, withPublicServices, conditions, description, mainPhotoUrl)
        VALUES (#{userId}, #{publicationDate}, #{district}, #{address}, #{floor}, #{maxFloor}, #{rooms}, #{sq},
        #{price}, #{withPublicServices}, #{conditions}, #{description}, #{mainPhotoUrl})
    </insert>

    <select id="findById">
        SELECT * FROM advert WHERE id=#{id}
    </select>

    <select id="getNextAdvertsBeforeTime">
        SELECT * FROM advert WHERE #{timestamp} > publicationDate ORDER BY publicationDate DESC limit #{limit}
    </select>

</mapper>