<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<header th:fragment="header" id="fh5co-header" role="banner">
    <div class="container">
        <div class="row">
            <div class="header-inner">
                <h1><a href="/">Airent<span class="blue-label">.</span></a></h1>
                <div style="display: block; float: right;">
                    <nav role="navigation">
                        <ul>
                            <li id="nav-username" th:style="${currentUser == null ? 'display: none' : ''}"
                                th:text="${currentUser == null ? '' : currentUser.name}"></li>
                            <li id="nav-logout" th:style="${currentUser == null ? 'display: none' : ''}"
                                class="active">
                                <a id="logout-link" class="logout-link" href="#">Выйти</a></li>
                            <li id="nav-login" th:style="${currentUser != null ? 'display: none' : ''}" class="active">
                                <a href="#" data-toggle="modal"
                                   data-target="#login-modal">Войти</a>
                            </li>
                            <li class="cta"><a href="/add">+ Сдать квартиру</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>