<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<form th:fragment="loginForm" id="login-form" th:action="@{/login}" method="post">
    <div class="modal-body">
        <div th:if="${param.error != null}" id="div-login-msg">
            <div id="icon-login-msg" class="glyphicon glyphicon-remove"></div>
            <span id="text-login-msg">Неверное имя пользователя или пароль</span>
        </div>
        <div th:if="${param.error == null}" id="div-login-msg">
            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-login-msg">Введите номер телефона и пароль</span>
        </div>

        <input name="username" id="username" class="form-control" type="text" placeholder="Номер телефона" required>
        <input name="password" id="password" class="form-control" type="password" placeholder="Пароль" required>
    </div>
    <div class="modal-footer">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Войти</button>
        </div>
        <div>
            <button id="login_lost_btn" type="button" class="btn btn-link">Забыли пароль?</button>
            <button id="login_register_btn" type="button" class="btn btn-link">Регистрация</button>
        </div>
    </div>
</form>

<form th:fragment="lostForm" id="lost-form">
    <div class="modal-body">
        <div id="div-lost-msg">
            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-lost-msg">Введите номер телефона.</span>
        </div>
        <input id="lost_email" class="form-control" type="text"
               placeholder="Номер телефона" required>
    </div>
    <div class="modal-footer">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Отправить</button>
        </div>
        <div>
            <button id="lost_login_btn" type="button" class="btn btn-link">Войти
            </button>
            <button id="lost_register_btn" type="button" class="btn btn-link">Регистрация
            </button>
        </div>
    </div>
</form>

<form th:fragment="registerForm" id="register-form">
    <div class="modal-body">
        <div id="div-register-msg">
            <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-register-msg">Зарегистрироваться.</span>
        </div>
        <input id="register_username" class="form-control" type="text"
               placeholder="Номер телефона" required>
        <input id="register_email" class="form-control" type="text" placeholder="E-Mail"
               required>
        <input id="register_password" class="form-control" type="password"
               placeholder="Пароль" required>
    </div>
    <div class="modal-footer">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Зарегистрироваться
            </button>
        </div>
        <div>
            <button id="register_login_btn" type="button" class="btn btn-link">Log In
            </button>
            <button id="register_lost_btn" type="button" class="btn btn-link">Lost
                Password?
            </button>
        </div>
    </div>
</form>

</body>
</html>