<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="searchBox" class="fh5co-page-title" style="background-image: url(/images/header.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 animate-box">
                <h1 class="header-title"><span class="colored">Снять квартиру</span> без посредников</h1>
                <div class="panel panel-default nav-container">
                    <div class="panel-body">
                        <span class="search-label">Район</span>
                        <select id="district-select" class="selectpicker" multiple
                                data-style="district-select btn-default"
                                title="Выберите район...">
                            <option th:selected="${sb.isAvSelected()}" value="AV"> Авиастроительный</option>
                            <option th:selected="${sb.isVhSelected()}" value="VH"> Вахитовский</option>
                            <option th:selected="${sb.isKrSelected()}" value="KR"> Кировский</option>
                            <option th:selected="${sb.isMsSelected()}" value="MS"> Московский</option>
                            <option th:selected="${sb.isNsSelected()}" value="NS"> Ново-Савиновский</option>
                            <option th:selected="${sb.isPvSelected()}" value="PV"> Приволжский</option>
                            <option th:selected="${sb.isCvSelected()}" value="CV"> Советский</option>
                        </select>
                        <span class="search-label">Комнат</span>
                        <div class="btn-group" data-toggle="buttons-checkbox">
                            <button id="rooms-btn1" type="button"
                                    th:class="'rooms-button btn btn-default '+${sb.isRooms1Pressed() ? 'active' : ''}"
                                    th:aria-pressed="${sb.isRooms1Pressed()}">1&nbsp
                            </button>
                            <button id="rooms-btn2" type="button"
                                    th:class="'rooms-button btn btn-default '+${sb.isRooms2Pressed() ? 'active' : ''}"
                                    th:aria-pressed="${sb.isRooms2Pressed()}">2&nbsp
                            </button>
                            <button id="rooms-btn3" type="button"
                                    th:class="'rooms-button btn btn-default '+${sb.isRooms3Pressed() ? 'active' : ''}"
                                    th:aria-pressed="${sb.isRooms3Pressed()}">
                                3+
                            </button>
                        </div>

                        <span id="search-price" class="search-label">Цена от <span
                                id="search-price-from" class="price-label"
                                th:text="${sb.getPriceFrom()}"/><sup>000</sup>&nbsp;</span>
                        <input id="search-price-range" type="text"
                               data-slider-step="1"
                               data-slider-focus="false"
                               data-slider-tooltip="hide"
                               th:data-slider-min="${sb.getPriceMin()}"
                               th:data-slider-max="${sb.getPriceMax()}"
                               th:data-slider-value="${'['+sb.getPriceFrom()+','+sb.getPriceTo()+']'}"/>
                        <span id="search-price-end" class="search-label">&nbsp;до <span
                                id="search-price-to" class="price-label"
                                th:text="${sb.getPriceTo()}"/><sup>000</sup></span>

                        <button id="search-button" class="btn btn-primary nav-search-button">
                            <span class="glyphicon glyphicon-search"></span> Найти объявления
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="loadMoreButton" class="col-md-12 text-center animate-box" data-animate-effect="fadeIn">
    <button type="button" id="loadMore" data-loading-text="Загрузка..." class="btn btn-primary"
            autocomplete="off">
        Загрузить еще
    </button>
</div>

</body>
</html>