<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <title>Parallax Template - Materialize</title>

    <link rel="stylesheet" href="/css/materialize.css" media="screen,projection"/>
    <link rel="stylesheet" href="/css/material-icons.css"/>
    <link rel="stylesheet" href="/css/lightgallery.min.css">
    <link rel="stylesheet" href="/css/lg-transitions.min.css">
    <link rel="stylesheet" href="/css/lg-fb-comment-box.min.css">
    <link rel="stylesheet" href="/css/global.css" media="screen,projection">
    <link rel="stylesheet" href="/css/search.css" media="screen,projection">
    <link rel="stylesheet" href="/css/advert-details.css" media="screen,projection">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img height="64" src="/images/logo_low.png"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Войти</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Войти</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div>
    <div id="photo-gallery">
        <div class="gallery-item adverts-gallery"
             style="background-image:  url(https://fatirlar.ru/strg/AVT/1490896798711/0.jpg);"
             href="${mainPhoto.path}">
            <img src="https://fatirlar.ru/strg/AVT/1490896798711/0.jpg" style="display: none;"/>
        </div>
        <div href="https://fatirlar.ru/strg/AVT/1490896798711/1.jpg"
             class="gallery-item"
             style="display: none;">
            <img src="https://fatirlar.ru/strg/AVT/1490896798711/1.jpg"/>
        </div>
        <div href="https://fatirlar.ru/strg/AVT/1490896798711/2.jpg"
             class="gallery-item"
             style="display: none;">
            <img src="https://fatirlar.ru/strg/AVT/1490896798711/2.jpg"/>
        </div>
    </div>

    <div class="container">
        <div class="row details-container">

            <div class="col s12 m12 l5">

                <div class="card grey lighten-5">
                    <div class="card-content">
                        <div class="card-title">
                            <h3>Основное</h3>
                        </div>
                        <ul class="main-info">
                            <li>ул.Богофвфыв, 23</li>
                            <li>14 000Р</li>
                        </ul>
                        <ul>
                            <li><i class="tiny material-icons">view_quilt</i> 2 комнаты</li>
                            <li><i class="tiny material-icons">aspect_ratio</i> 42 кв м</li>
                            <li><i class="tiny material-icons">trending_up</i> 3\5 Этаж</li>
                        </ul>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">phone</i>Телефон</a>
                        </div>
                    </div>
                </div>

                <div class="card grey lighten-5">
                    <div class="card-content">
                        <div class="card-title">
                            <h3>Описание</h3>
                        </div>
                        <p>
                            Собственник. Без комиссии. Сдается срочно 1 комнатная квартира на Сафиуллина. 10 минут пешком до метро Проспект Победы. 13000+ все коммунальные услуги. И задаток за последний месяц 6000. Сдается ТОЛЬКО СЕМЬЕ С РОССИЙСКИМ ГРАЖДАНСТВОМ. ЛЮДИ, НЕ ПОДХОДЯЩИЕ ПОД УСЛОВИЕ, ПОЖАЛУЙСТА НЕ БЕСПОКОЙТЕ.
                        </p>
                    </div>
                </div>

            </div>

            <div class="col s12 m12 l7">
                <div class="card grey lighten-5">
                    <div class="card-content">
                        <div class="card-title">
                            <h3>Расположение</h3>
                        </div>
                        <div id="adv-detail-map"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Fairlar.ru</a>
        </div>
    </div>
</footer>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src="/js/lightgallery-all.min.js"></script>
<script src="/js/init.js"></script>
<script>
    $(document).ready(function () {
        $('#photo-gallery').lightGallery({
            download: false,
            autoplayControls: false,
            actualSize: false,
            selector: '.gallery-item'
        });
    });
</script>
<script>
    function initMap(ymaps) {
        var latitude = 55.830471;
        var longitude = 49.053153;

        var map = new ymaps.Map("adv-detail-map", {
            center: [latitude, longitude],
            controls: ["zoomControl"],
            zoom: 11
        });
        map.behaviors.disable('scrollZoom');

        var myPlacemark = new ymaps.Placemark([latitude, longitude], {}, {
            preset: 'islands#redIcon'
        });
        map.geoObjects.add(myPlacemark);
    }
</script>
<script async src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=initMap" type="text/javascript"></script>
</body>
</html>
