<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <title>Снять квартиру в Казани без посредников</title>

    <meta name="description" content="Снять недвижимость в Казани на длительный срок без комиссии. Каталог объявлений для облегчения поиска жилья напрямую от собственников."/>
    <meta name="keywords" content="снять квартиру, аренда квартиры, квартиры без посредников"/>

    <meta name="google-site-verification" content="m8KSFFKgIrkt-bw9VF1F4QdXH_qwf1rCPaoLqtikhi4" />
    <meta name="yandex-verification" content="a2ce000841d68151" />

    <link rel="stylesheet" href="/css/materialize.css" media="screen,projection"/>
    <link rel="stylesheet" href="/css/material-icons.css"/>
    <link rel="stylesheet" href="/css/global.css" media="screen,projection">
    <link rel="stylesheet" href="/css/main.css" media="screen,projection">
    <link rel="stylesheet" href="/css/advert-card.css" media="screen,projection">
</head>

<body>

<div th:replace="fragment/header :: header"/>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-1">Аренда недвижимости в Казани</h1>
            <div class="row center">
                <h5 class="header col s12 light">Отсортированные объявления от собственников и без комиссии</h5>
            </div>
            <div class="row center">
                <a href="/search" id="download-button"
                   class="btn-large waves-effect waves-light teal lighten-1">Найти квартиру</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax">
        <img src="/images/background/main_back_1.jpg" alt="Основное изображение поиска квартир">
    </div>
</div>


<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">verified_user</i></h2>
                    <h5 class="center">Фильтрует объявления</h5>

                    <p class="light">Сервис анализирует размещенные объявления и формирует рейтинг собственников по
                        таким признакам, как
                        количество размещенных объявлений, активность, скорость размещения объявлений и похожесть
                        размещенных квартир.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">loyalty</i></h2>
                    <h5 class="center">Полностью бесплатен</h5>

                    <p class="light">
                        Мы не берем денег от пользователей. Никаких комиссий и подписок на платной основе,
                        оплаты доступа по дням или за доступ к объявлению.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">schedule</i></h2>
                    <h5 class="center">Частые обновления</h5>

                    <p class="light">
                        Сервис работает в автоматическом режиме и использует данные с открытых источников.
                        Новые варианты появляются каждые несколько минут.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Fatirlar поможет снять квартиру без посредников и комисиий</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/background/main_back_2.jpg"
                               alt="Изображение поиска квартир"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Последние предложения</h4>
                <p class="left-align light">
                </p>
                <div>
                    <div th:replace="fragment/adverts :: adverts-list (adverts=${adverts},mainPhotos=${mainPhotos})"/>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="/images/background/main_back_3.jpg"
                               alt="Последнее изображение поиска квартир"></div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">О нас</h5>
                <p class="grey-text text-lighten-4">Сервис разрабатывается и поддерживается одним разработчиком,
                    который испытал все проблемы поиска квартиры для аренды в Казани. Существует на бесплатной основе
                    и периодически переживает обновления дизайна и поведения.</p>
            </div>
            <div class="col l3 s12">
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Обратная свзяь</h5>
                <ul>
                    <li><a class="white-text" href="#!">Электронная почта</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="/">Fairlar.ru</a>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>
    (function ($) {
        $(function () {
            $('.button-collapse').sideNav();
            $('.parallax').parallax();
        });
    })(jQuery);
</script>
</body>
</html>
