<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <title>Parallax Template - Materialize</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"
          media="screen,projection"/>

    <link href="../static/css/nouislider.css" rel="stylesheet">

    <!-- In <body> -->
    <link rel="stylesheet" href="../static/css/style_new.css" media="screen,projection">
    <link rel="stylesheet" href="../static/css/global.css" media="screen,projection">
    <link rel="stylesheet" href="../static/css/search.css" media="screen,projection">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="row">

    <div class="col s12 m12 l3">
        <div class="section">
            <label>Район</label>
            <div class="input-field col s12" style="margin-top: 0rem;">
                <select id="district" multiple>
                    <option value="" disabled selected>Все районы</option>
                    <option value="1">Авиастроительный</option>
                    <option value="2">Кировский</option>
                    <option value="3">Вахитовский</option>
                    <option value="4">Советский</option>
                    <option value="5">Приволжский</option>
                    <option value="6">Вахитовский</option>
                </select>
            </div>
        </div>

        <div class="section">
            <label>Цена, x 1000P</label>
            <div class="input-field col s12">
                <div class="sliders" id="test5"></div>
            </div>
        </div>

        <div class="section">
            <label>Комнат</label>
            <div class="input-field col s12" style="margin-top: 0rem;">
                <input type="checkbox" id="test6"/>
                <label for="test6">1-комн.</label>

                <input type="checkbox" id="test7"/>
                <label for="test7">2-комн.</label>

                <input type="checkbox" id="test8"/>
                <label for="test8">3-комн.</label>
            </div>
        </div>

    </div>

    <div class="col s12 m12 l9">

        <div class="col s12 m6 l4">
            <div class="advert-card card large">
                <div class="card-image">
                    <img src="https://fatirlar.ru/strg/AVT/1489860226687/0.jpg">
                    <div class="card-title">
                        <span class="address">Декабристов 131</span>
                        <span class="sq">34м<sup>2</sup></span>
                    </div>
                </div>
                <div class="card-content">
                    <p class="price">17 000Р</p>
                    <p class="description">
                        Однокомнатная квартира на длительный срок, есть все необходимое. Квартира от собственников
                        без
                        посредников.
                    </p>
                </div>
                <div class="card-action">
                    <span class="district">Кировский район</span>
                    <span class="rooms">1 комната</span>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="advert-card card large">
                <div class="card-image">
                    <img src="https://fatirlar.ru/strg/AVT/1489860226687/0.jpg">
                    <span class="card-title">Декабристов 131</span>
                </div>
                <div class="card-content">
                    <p>
                        Однокомнатная квартира на длительный срок, есть все необходимое. Квартира от собственников без
                        посредников.
                    </p>
                </div>
                <div class="card-action">
                    <span>Кировский район</span>
                    <span>1 комната</span>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card large">
                <div class="card-image">
                    <img src="https://fatirlar.ru/strg/AVT/1489860226687/0.jpg">
                    <span class="card-title">Декабристов 131</span>
                </div>
                <div class="card-content">
                    <p>
                        Однокомнатная квартира на длительный срок, есть все необходимое. Квартира от собственников без
                        посредников.
                    </p>
                </div>
                <div class="card-action">
                    <span>Кировский район</span>
                    <span>1 комната</span>
                </div>
            </div>
        </div>
    </div>

</div>


<!--Import jQuery before materialize.js-->
<script src="../static/js/nouislider.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').material_select();
    });

    var slider = document.getElementById('test5');
    noUiSlider.create(slider, {
        start: [20, 80],
        connect: true,
        step: 1,
        range: {
            'min': 0,
            'max': 100
        },
        format: wNumb({
            decimals: 0
        })
    });
</script>
</body>
</html>
