<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <title>Снять квартиру в Казани без посредников</title>

    <meta name="description"
          content="Снять недвижимость в Казани на длительный срок без комиссии. Каталог объявлений для облегчения поиска жилья напрямую от собственников."/>
    <meta name="keywords" content="снять квартиру, аренда квартиры, квартиры без посредников"/>

    <link rel="shortcut icon" href="/images/logo/favicon.ico">

    <link rel="stylesheet" href="/css/materialize.css" media="screen,projection"/>
    <link rel="stylesheet" href="/css/material-icons.css"/>
    <link rel="stylesheet" href="/css/nouislider.css">
    <link rel="stylesheet" href="/css/global.css" media="screen,projection">
    <link rel="stylesheet" href="/css/search.css" media="screen,projection">
    <link rel="stylesheet" href="/css/advert-card.css" media="screen,projection">
</head>

<body>

<header>
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper"><a class="page-title">Квартиры</a></div>
        </div>
    </nav>
    <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only"><i
                class="material-icons">menu</i></a>
    </div>
    <div id="slide-out" class="side-nav fixed search-side-nav" style="transform: translateX(0%);">
        <div class="section">
            <a href="/" style="display:inline-block; background-color: transparent !important;">
                <img height="140" src="/images/logo/logo_high.png" alt="Логотип Fatirlar.ru">
            </a>
        </div>

        <form id="search-form" action="/search">

            <div class="section">
                <label>Район</label>
                <div class="input-field col s12" style="margin-top: 0rem;">
                    <select id="district" name="districts" multiple>
                        <option value="" disabled th:selected="${searchRequest.getDistricts().isEmpty()}">Все районы
                        </option>
                        <option value="AV"
                                th:selected="${searchRequest.getDistricts().contains(T(com.airent.model.District).AV)}"
                                th:text="'Авиастроительный'">
                        </option>
                        <option value="KR"
                                th:selected="${searchRequest.getDistricts().contains(T(com.airent.model.District).KR)}"
                                th:text="'Кировский'">
                        </option>
                        <option value="VH"
                                th:selected="${searchRequest.getDistricts().contains(T(com.airent.model.District).VH)}"
                                th:text="'Вахитовский'">
                        </option>
                        <option value="MS"
                                th:selected="${searchRequest.getDistricts().contains(T(com.airent.model.District).MS)}"
                                th:text="'Московский'">
                        </option>
                        <option value="CV"
                                th:selected="${searchRequest.getDistricts().contains(T(com.airent.model.District).CV)}"
                                th:text="'Советский'">
                        </option>
                        <option value="PV"
                                th:selected="${searchRequest.getDistricts().contains(T(com.airent.model.District).PV)}"
                                th:text="'Приволжский'">
                        </option>
                        <option value="NS"
                                th:selected="${searchRequest.getDistricts().contains(T(com.airent.model.District).NS)}"
                                th:text="'Ново-Савиновский'">
                        </option>
                    </select>
                </div>
            </div>

            <div class="section">
                <label>Цена, x 1000P</label>
                <div class="input-field col s12">
                    <input type="hidden" id="price-range-input" name="priceRange">
                    <div class="sliders" id="price-range-slider" name="asd"
                         th:initial-range="${searchRequest.priceRange}"></div>
                </div>
            </div>

            <div class="section">
                <label>Комнат</label>
                <div class="input-field col s12" style="margin-top: 0rem;">
                    <input name="room1" type="checkbox" id="room1" th:checked="${searchRequest.isRoom1()}"/>
                    <label for="room1">1-комн.</label>

                    <input name="room2" type="checkbox" id="room2" th:checked="${searchRequest.isRoom2()}"/>
                    <label for="room2">2-комн.</label>

                    <input name="room3" type="checkbox" id="room3" th:checked="${searchRequest.isRoom3()}"/>
                    <label for="room3">3-комн.</label>
                </div>
            </div>

            <div class="section">
                <input type="hidden" id="page-number-input" name="page" th:value="${searchRequest.page}">
                <a type="submit" class="waves-effect waves-light btn" id="search-button"><i
                        class="material-icons right">search</i>Найти</a>
            </div>
        </form>
    </div>
</header>

<main>
    <div class="row">
        <div th:replace="fragment/adverts :: adverts-list (adverts=${adverts},mainPhotos=${mainPhotos})"/>

        <div th:if="${adverts.size() == 0}" class="col s12">
            <h5>К сожалению, ничего не найдено. Попробуйте поменять параметры поиска.</h5>
        </div>

        <div th:if="${pagesCount>1}" class="col s12">
            <ul class="pagination center">
                <li th:class="${searchRequest.page > 0 ? 'waves-effect' : 'disabled'}">
                    <a th:onclick="${searchRequest.page > 0 ? 'clickOnPageLink('+ (searchRequest.page-1) +')' : ''}"><i
                            class="material-icons">chevron_left</i></a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, pagesCount-1)}"
                    th:class="${i == searchRequest.page ? 'active' : 'waves-effect' }">
                    <a th:text="${i+1}" th:onclick="${'clickOnPageLink('+i+')'}"></a>
                </li>
                <li th:class="${searchRequest.page < pagesCount-1 ?  'waves-effect' : 'disabled'}">
                    <a th:onclick="${searchRequest.page < pagesCount-1 ? 'clickOnPageLink('+ (searchRequest.page+1) +')' : ''}"><i
                            class="material-icons">chevron_right</i></a>
                </li>
            </ul>
        </div>
    </div>
</main>

<script type="text/javascript" src="/js/nouislider.min.js"></script>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').material_select();
    });

    $(".button-collapse").sideNav();

    var slider = document.getElementById('price-range-slider');
    noUiSlider.create(slider, {
        start: JSON.parse(slider.getAttribute('initial-range')),
        connect: true,
        step: 1,
        range: {
            'min': 3,
            'max': 130
        },
        format: wNumb({
            decimals: 0,
            thousand: '.',
        })
    });

    var priceRangeInput = document.getElementById('price-range-input');
    slider.noUiSlider.on('slide', function (values, handle, unencoded, tap, positions) {
        console.log("Slide event", values);
        priceRangeInput.value = values;
    });

    document.getElementById("search-button").onclick = function () {
        pageNumberInput.value = 0;
        document.getElementById("search-form").submit();
    }


    var pageNumberInput = document.getElementById('page-number-input');
    function clickOnPageLink(i) {
        pageNumberInput.value = i;
        document.getElementById("search-form").submit();
    }

</script>

<div th:replace="fragment/counters :: counters"/>

</body>
</html>
