@(head: Html)(body: Html)

<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

        <meta name="google-site-verification" content="m8KSFFKgIrkt-bw9VF1F4QdXH_qwf1rCPaoLqtikhi4" />
        <meta name="yandex-verification" content="a2ce000841d68151" />

        <link rel="shortcut icon" href="/images/logo/favicon.ico">

        <link rel="stylesheet" href="/css/materialize.css" media="screen,projection"/>
        <link rel="stylesheet" href="/css/material-icons.css"/>
        <link rel="stylesheet" href="/css/global.css" media="screen,projection">

        @head
    </head>

    <body>
    @body
    </body>

    @fragment.counters()
</html>

