@import model._
@import model.rest.SearchRequest

@import model.rest.SearchParameters
@(adverts: List[Advert], mainPhotos: Map[Int, Photo], pagesCount: Int, searchParameters: SearchParameters)
@main {
    <title>Поиск квартир для аренды в Казани - Fatirlar</title>

    <meta name="description"
    content="Снять недвижимость в Казани на длительный срок без комиссии. Каталог объявлений для облегчения поиска жилья напрямую от собственников."/>
    <meta name="keywords" content="снять квартиру, аренда квартиры, квартиры без посредников"/>

    <link rel="stylesheet" href="/assets/css/nouislider.css">
    <link rel="stylesheet" href="/assets/css/search.css" media="screen,projection">
    <link rel="stylesheet" href="/assets/css/advert-card.css" media="screen,projection">
} {

    <header>
        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper"><a class="page-title">Квартиры</a></div>
            </div>
        </nav>
        <div class="container">
            <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only"><i
            class="material-icons">menu</i></a>
        </div>
        <div id="slide-out" class="side-nav fixed search-side-nav" style="transform: translateX(0%);">
            <div class="section">
                <a href="/" style="display: inline-block;
                    background-color: transparent !important;">
                    <img height="140" src="/assets/images/logo/logo_high.png" alt="Логотип Fatirlar.ru">
                </a>
            </div>

            <form id="search-form" action="/search">

                <div class="section">
                    <label>Район</label>
                    <div class="input-field col s12" style="margin-top: 0rem;">
                        <select id="district" name="districts" multiple>
                            <option value="" disabled selected=@searchRequest.getDistricts.isEmpty>Все районы</option>
                            @for(district <- District.values()) {
                                <option value=@district.name() selected=@searchRequest.getDistricts.contains(district)>@district.getDesc</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="section">
                    <label>Цена, x 1000P</label>
                    <div class="input-field col s12">
                        <input type="hidden" id="price-range-input-from" name="priceFrom">
                        <input type="hidden" id="price-range-input-to" name="priceTo">
                        <div class="sliders" id="price-range-slider" initial-range="@searchRequest.getPriceRange"></div>
                    </div>
                </div>

                <div class="section">
                    <label>Комнат</label>
                    <div class="input-field col s12" style="margin-top: 0rem;">
                        <input name="room1" type="checkbox" id="room1" checked="@searchRequest.isRoom1" />
                        <label for="room1">1-комн.</label>

                        <input name="room2" type="checkbox" id="room2" checked="@searchRequest.isRoom2" />
                        <label for="room2">2-комн.</label>

                        <input name="room3" type="checkbox" id="room3" checked="@searchRequest.isRoom3" />
                        <label for="room3">3-комн.</label>
                    </div>
                </div>

                <div class="section">
                    <input type="hidden" id="page-number-input" name="page" value="@searchRequest.getPage">
                    <a type="submit" class="waves-effect waves-light btn" id="search-button"><i
                    class="material-icons right">search</i>Найти</a>
                </div>
            </form>
        </div>
    </header>

    <main>
        <div class="row">
            @fragment.adverts(adverts, mainPhotos)

            @if(adverts.isEmpty) {
                <div class="col s12">
                    <h5>К сожалению, ничего не найдено. Попробуйте поменять параметры поиска.</h5>
                </div>
            }

            @if(pagesCount > 1) {
                <div class="col s12">
                    <ul class="pagination center">
                        <li class=@(if (searchRequest.getPage > 0) "waves-effect" else "disabled")>
                            <a onclick=@(if (searchRequest.getPage > 0) "clickOnPageLink("+(searchRequest.getPage-1) + ")" else "")>
                            <i class="material-icons">chevron_left</i></a>
                        </li>
                        @for(i <- 0 to pagesCount -1 ){
                            <li class=@(if (searchRequest.getPage == i) "active" else "waves-effect")>
                                <a onclick=@("clickOnPageLink(" + i + ")")>@(i+1)</a>
                            </li>
                        }
                        <li class=@(if (searchRequest.getPage < pagesCount-1) "waves-effect" else "disabled")>
                            <a onclick=@(if (searchRequest.getPage < pagesCount-1) "clickOnPageLink("+(searchRequest.getPage+1) + ")" else "")>
                                <i class="material-icons">chevron_right</i></a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </main>

    <script type="text/javascript" src="/assets/js/nouislider.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script>
            $(document).ready(function () {
                $('select').material_select();
            });

            $(".button-collapse").sideNav();

            var slider = document.getElementById('price-range-slider');
            noUiSlider.create(slider, {
                start: JSON.parse(slider.getAttribute('initial-range')),
                connect: true,
                step: 1,
                range: {
                    'min': 3,
                    'max': 130
                },
                format: wNumb({
                    decimals: 0,
                    thousand: '.',
                })
            });

            var priceRangeInputFrom = document.getElementById('price-range-input-from');
            var priceRangeInputTo = document.getElementById('price-range-input-to');
            slider.noUiSlider.on('slide', function (values, handle, unencoded, tap, positions) {
                console.log("Slide event", values);
                priceRangeInputFrom.value = values[0];
                priceRangeInputTo.value = values[1];
            });

            document.getElementById("search-button").onclick = function () {
                pageNumberInput.value = 0;
                document.getElementById("search-form").submit();
            }

            var pageNumberInput = document.getElementById('page-number-input');
            function clickOnPageLink(i) {
                pageNumberInput.value = i;
                document.getElementById("search-form").submit();
            }

    </script>
}