@import model._
@import util.Utils.getRoomsText

@(advert: Advert, mainPhotos: Map[Int, Photo])
<div class="col s12 m6 l4">
    <a href="/advert/@advert.id" target="_blank">
        <div class="advert-card card large hoverable">
            <div class="card-image">
                <img src="@mainPhotos(advert.id).path">
                <div class="card-title">
                    <span class="address">@advert.address</span>
                    <span class="sq">@(advert.sq + 'м') <sup>2</sup></span>
                </div>
            </div>
            <div class="card-content">
                <p class="price">@(advert.price + 'P' + (if(advert.withPublicServices) "+к.у." else ""))</p>
                <p class="description">@advert.description</p>
            </div>
            <div class="card-action">
                <span class="district">@advert.district.getDesc</span>
                <span class="rooms">@(advert.rooms + " " + getRoomsText(advert.rooms))</span>
            </div>
        </div>
    </a>
</div>
