@()

<div>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img height="64" src="/assets/images/logo/logo_low.png"
            alt="Логотип Fatirlar.ru"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Войти</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Войти</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>